{% extends "base.html" %}

{% block content %}
<h1>Список задач</h1>
<a class="btn btn-success" href="/departments"> Перейти к списку департаментов </a>
{% if current_user.is_authenticated %}
            <a class="btn btn-success" href="/addjob">Добавить задачу</a>
            <br>
{% endif %}
<br>
<br>
{% for item in works %}
        <div> задача №{{ loop.index }}</div>
        <table width="1000">
            <tr bgcolor="lightgray">
                <th> Описание </th>
                <th> Ответственный </th>
                <th> Длительность </th>
                <th> Помошники </th>
                <th> Статус </th>
            </tr>
            <tr bgcolor="lightgray">
                <th> {{ item[0] }} </th>
                <th> {{ item[1][0] }} </th>
                <th> {{ item[2] }} </th>
                <th> {{ item[3] }} </th>

                {% if item[4] %}
                    <th> Завершена </th>
                {% else %}
                    <th> Не завершена </th>
                {% endif %}
            </tr>
        </table>
        {% if current_user.is_authenticated and (current_user.id == 1 or current_user.id == item[1][1]) %}
            <br>
            <a class="btn btn-success" href="{{'/updjob/' + item[5]}}"> Изменить задачу </a>
            <a class="btn btn-success" href="{{'/deljob/' + item[5]}}"> Удалить задачу </a>
        {% endif %}
        <br>
        <br>
        <br>
    {% endfor %}
{% endblock %}